* { margin: 0; padding: 0; }

body { margin: 0; padding: 0; font-family: arial, sans-serif; font-size: 12px; background: #f0f0f0; color: #999; }

ul { list-style: none; }

a { color: #ff99cc; font-weight: bold; text-decoration: none; }

a:hover { text-decoration: underline; }

#main { max-width: 1050px; min-width: 800px; margin: 0 auto; background: #fff; position: relative; }

#header { padding: 10px; font-size: 32px; }
#header p { font-style: italic; font-size: 12px; margin: 0 0 0 20px; }

#userBox { position: absolute; top: 10px; right: 10px; padding: 10px; border: solid 1px #ccc; background: #f0f0f0; font-size: 16px; }

#questionActiveList { margin: 40px; }
#questionActiveList li.question { margin: 30px 10px; }
#questionActiveList li.question div.label { text-align: center; font-size: 18px; font-weight: bold; border-bottom: solid 1px #ccc; padding: 10px; }
#questionActiveList li.question div.label img.star { float: right; }
#questionActiveList li.question ul.answers { position: relative; }
#questionActiveList li.question ul.answers li.answer { background: #f0f0f0; text-align: center; float: left; width: 50%; padding: 20px 0; font-size: 14px; font-weight: bold; }
#questionActiveList li.question div.share a { margin: 0 0 0 5px; float: right; }
#questionActiveList li.question.key_0 ul.answers li.answer { padding: 80px 0; }
#questionActiveList li.question.key_0 div.infos { font-style: italic; }
