* { margin: 0; padding: 0; }

body { margin: 0; padding: 0; font-family: arial, sans-serif; font-size: 12px; color: #999; }

ul { list-style: none; }

a, span.link { color: #ff99cc; font-weight: bold; text-decoration: none; cursor: pointer; }
a img, span.link img { border: none; }

a:hover, span.link:hover { text-decoration: underline; }

div.clear { clear: both; }

.hide { display: none; }

#main { max-width: 1050px; min-width: 800px; margin: 0 auto; background: #fff; position: relative; }

#header { padding: 10px; font-size: 32px; }
#header p { font-style: italic; font-size: 12px; margin: 0 0 0 20px; }

#userBox { position: absolute; top: 0; right: 10px; padding: 10px; border: solid 1px #ccc; border-width: 0 1px 1px 1px; background: #f0f0f0; font-size: 16px; }

#questions { text-align: center; }
#questions dl.question { margin: 10px; padding: 5px; border: solid 1px #f0f0f0; }
#questions dl.question div.content { margin: 10px 0 0 0; height: 60px; }
#questions dl.question div.content li.answer { width: 20%; margin: 0 15%; float: left; }
#questions dl.question div.friends { clear: both; }

#morePolls { text-align: center; margin: 20px; }

#morePollsButton { font-size: 16px; }

#questionArchiveList { margin: 20px; }
#questionArchiveList li.question { margin: 20px 0; width: 50%; float: left; text-align: center; }
#questionArchiveList li.question div.graph { margin: 10px 0 0 0; }
#questionArchiveList li.question ul.answers { margin: -75px 0 0 0; height: 75px; }
#questionArchiveList li.question ul.answers li.answer { width: 50%; float: left; font-size: 18px; }
#questionArchiveList li.question ul.answers li.answer.key0 { color: fuchsia; }
#questionArchiveList li.question ul.answers li.answer.key1 { color: CornflowerBlue; }

#question { text-align: center; margin: 20px; }

#questionInfo { text-align: center; font-style: italic; }

#result { margin: 20px; text-align: center; margin: -195px 0 0 0; height: 200px; }
#result li.answer { width: 40%; float: left; }
#result li.answer div.label { font-size: 38px; }
#result li.answer ul li.user { margin: 10px; }
#result li.answer.key0 { margin-right: 10%; color: fuchsia; }
#result li.answer.key1 { margin-left: 10%; color: CornflowerBlue; }

#graph { text-align: center; margin: 20px; }

li.user { padding: 2px 10px; display: inline-block; }
li.user span { display: block; }

li.user.vote { border: solid 1px #ccc; }

li.user.guess { border: dashed 1px #ccc; }

#share { text-align: right; margin: 10px; }
