#farm
{
    border: solid 1px #ccc;
    padding: 10px;
    margin: 8px;
}

#farm.colide
{
    border-color: #66ff66;
}

#result li.answer
{
    border: dashed 1px #ccc;
    padding: 8px;
    margin: 10px;
}

#result li.answer.colide
{
    border-color: #ff6666;
}

#result div.progress
{
    width: 0%;
    height: 10px;
    background: #ccffcc;
}

li.user,
strong.user
{
    display: inline-block;
    margin: 2px;
    padding: 4px 4px 0px 4px;
		border: solid 1px #ccc;
}

li.user.voted
{
    background: #ccc;
		border: solid 1px #999;
}

