$default-border-radius: 4px
$rose: #F9C
$grey: #999

@import compass/css3
@import compass/reset
@import compass/utilities/general
+font-face("typoQuestion", font-files("Folks-Bold.ttf", truetype))

+global-reset

html
    min-height: 100%
body
    padding: 0 4%
    font-family: tahoma, Arial, sans-serif
    font-size: 12px
    color: #000
    min-height: 100%
    +linear-gradient(color-stops(#6699cc, #c2e4f6 200px, #dbecf5 800px))

#main
    color: $grey /* keep body's text black for debug purpose */

ul
    list-style: none


/////////////////////////
// Fonts
/////////////////////////

#footer a
    font-weight: normal
label em
    font-weight: bold
    font-style: normal
.bouton
    font-size: 1.2em
    font-weight: bold
#questionArchiveList h3 a,
#questionArchiveList .answer
    font-size: 1.4em
.frame h2
    font-size: 1.8em
#questions .questionChoice
    font-size: 2.4em


/////////////////////////
// Utility
/////////////////////////

a,
a *,
span.link,
span.link *
    text-decoration: none
    cursor: pointer
    img
        border: none

a:hover,
span.link:hover
    text-decoration: underline

div.clear
    clear: both

.hide
    display: none

/* ___________________ Lighbox */

#nyroModalContent
    background: #fff
    padding: 2em 2em 1em
    border: solid 5px #eee
    +box-shadow(#999999, 5px, 5px, 15px)
    +border-radius(8px)

#nyroModalWrapper
    .nyroModalClose
        background: url(../media/layout/close_button.png)
        width: 32px
        height: 32px
        float: right
        display: block
        content: ""
        margin: 5px 5px 0 0
    .nyroModalClose:hover
        background: url(../media/layout/close_button-hover.png)

/* ___________________ Buttons */

.button
    a
        color: #666
    a:hover
        text-decoration: none

    color: #666
    display: inline-block
    cursor: pointer
    padding: 0.5em 1em
    border: solid 1px #AAA
    font-size: 1.8em
    font-weight: bold
    +text-shadow(#fff)
    +border-radius()
    +linear-gradient(color-stops(#FFF, #CCC))

.button:hover
    color: $rose
    border-color: $rose
    text-decoration: none
    +linear-gradient(color-stops(#FFF, #DDD))

.button:active
    color: black
    border-color: black
    +linear-gradient(color-stops(#CCC, #FFF))

/* ___________________ Frame*/

.frame,
.question
    padding: 5px
    position: relative
    border: solid 2px #f0f0f0
    +border-radius()
    +box-shadow(#6699cc)
    +linear-gradient(color-stops(#ffffff 50%, #ededed))

    h2
        float: left
        padding: 0 0 0.4em 0
        +text-shadow(#ffffff)

    a,
    a *,
    span.link,
    span.link *
        color: #6d6d6d

/* ___________________ Forms */

fieldset
    clear: both
label
    display: block
    em
        display: block
        padding: 0.3em 0

input[type=text],
input[type=password]
    display: block
    padding: 0.2em
    width: 20em
    border: 1px solid #999

input[type=text]:focus,
input[type=password]:focus
    border-color: $rose


/////////////////////////
// MAIN
/////////////////////////

#main
    max-width: 1050px
    min-width: 800px
    margin: 0 auto
    position: relative


/////////////////////////
// HEADER
/////////////////////////

#header
    padding: 10px 0
    position: relative

    .baseLine
        color: #fff
        font-weight: bold
        +text-shadow(#aaa)

#logo
    display: block
    width: 210px
    height: 71px
    text-align: left
    text-indent: -9999em
    background: url(../media/layout/logoOpipop.png)

/* ___________________ USER BOX */

#userBox

    a.avatar
        margin: 0 8px 0 0
        float: left

    div.info
        float: left

    a.login
        font-size: 2em
        display: block
        margin: 20px 0 0 0

    p.linkList
        margin: 10px 0 0 0
        span
            margin: 0 5px

#userBox,
#login_link
    position: absolute
    top: 1em
    right: 0
    z-index: 2

#login
    display: none
#login_form
    width: 300px
    height: 200px
    input[type=password]
        margin: 1em 0

#registerLink
    position: absolute
    right: 2em
    bottom: 1em


/////////////////////////
// FOOTER
/////////////////////////

#footer
    margin: 40px 0 20px 0
    padding: 1em
    border-bottom: 1px solid rgba(255,255,255,0.75)
    -moz-box-shadow: inset 0px 1px 2px #46829c
    -webkit-box-shadow: inset 0px 1px 2px #46829c
    box-shadow: inset 0px 1px 2px #46829c
    +border-radius()
    +linear-gradient(color-stops(#60b3d7, #56a0c0))
    color: #FFF
    ul
        float: right
    li
        display: inline-block
    li:not(:first-child)::before
        content: ' - '
    a
        color: #FFF


/////////////////////////
// QUESTION LIST
/////////////////////////

#questions

    .frame
        margin: 25px 0 0 0

    .share
        position: absolute
        bottom: 5px
        right: 5px

        a
            margin: 0 0 0 5px

        span,
        img
            font-size: 1.2em
            vertical-align: middle

    .questionContent
        position: relative
        clear: both

        dt
            background: rgba(0,0,0,0.1)
            width: 315px
            height: 145px
            position: absolute
            left: 0
            top: 0
        dd
            padding: 5px 5px 5px 330px
            height: 135px
        p
            font-weight: normal
            letter-spacing: 0.05em

        .questionLabel
            margin: 10px 0
            font-size: 1.2em

        .questionChoice
            margin: 10px 0 0 50px
            +text-shadow(#fff)

        .questionChoice:hover
            color: $rose
            text-decoration: none
        .questionChoice:active
            color: black


/* ___________________ Archives */

#morePolls
    text-align: center
    margin: 20px 0 0 0

#questionArchiveContainer
    margin: 25px 0 0 0

#questionArchiveList
    text-align: center

    li
        width: 45%
        display: inline-block
        text-align: center
        position: relative
        margin-bottom : 1.5em
        pqdding-bottom: 1.5em

        h3
            padding: 0.5em 0
            text-align: left
            a
                color: #999
        .graph
            margin: 10px 0 0 0

        .answer
            position: absolute
            height: 2em
            width: 50%
            top: 50%
            left: 0
            margin: -1em 0 0
            text-align: center

        .key0
            color: fuchsia

        .key1
            color: CornflowerBlue
            left: 50%

    li:nth-child(odd)
        padding-right: 4%
        border-right: 1px solid #CCC

    li:nth-child(even)
        padding-left: 4%

    li:nth-child(1):after,
    li:nth-child(2):after
        content: ' '
        width: 90%
        display: block
        position: absolute
        bottom: -1em
        left: 5%
        border-bottom: 1px solid #CCC


/////////////////////////
// QUESTION
/////////////////////////

#questionResults
    margin: -110px 0 0 0
    width: 100%
    position: absolute
    ul.menu
        margin: 10px auto
        width: 258px
        height: 20px
        li
            border: solid 1px #ccc
            float: left
            width: 80px
            margin: 0 2px
            text-align: center
            cursor: pointer
    div.tab
        text-align: center
        clear: both
        margin: 10px 0 0 0

#question
    text-align: center
    margin: 20px 20px 5px 20px

#questionInfo
    text-align: center
    font-style: italic

#map
    text-align: center
    width: 545px
    height: 540px
    margin: auto


/////////////////////////
// RESULT
/////////////////////////

#result
    margin: 20px
    text-align: center
    margin: 10px 0 0 0
    height: 115px
    display: block
    width: 100%
    li.answer
        width: 20%
        float: left
        div.label
            font-size: 38px
        ul
            li.user
                margin: 10px
    li.answer.key0
        margin-right: 30%
        color: fuchsia
    li.answer.key1
        margin-left: 30%
        color: CornflowerBlue

#questionResults
    div.graph
        text-align: center
        margin: 20px
    div.title
        font-weight: bold
        font-size: 16px
        margin: 10px 0
    div.sexRepartition
        width: 400px
        height: 25px
        margin: 10px auto 30px auto
        div
            float: left
            height: 25px
            padding: 5px 0 0 0
            color: #fff
            font-weight: bold
        div.progress_0
            background: fuchsia
        div.progress_1
            background: CornflowerBlue


