*
    margin: 0
    padding: 0

body
    margin: 0
    padding: 0
    font-family: arial, sans-serif
    font-size: 12px
    color: #999

ul
    list-style: none

a
    color: #ff99cc
    font-weight: bold
    text-decoration: none

a:hover
    text-decoration: underline


/////////////////////////
// MAIN
/////////////////////////

#main
    max-width: 1050px
    min-width: 800px
    margin: 0 auto
    background: #fff
    position: relative


/////////////////////////
// HEADER
/////////////////////////

#header
    padding: 10px
    font-size: 32px
    p
        font-style: italic
        font-size: 12px
        margin: 0 0 0 20px


/////////////////////////
// USER BOX
/////////////////////////

#userBox
    position: absolute
    top: 0
    right: 10px
    padding: 10px
    border: solid 1px #ccc
    border-width: 0 1px 1px 1px
    background: #f0f0f0
    font-size: 16px


/////////////////////////
// QUESTION ACTIVE
/////////////////////////

#questionActiveList
    margin: 40px
    li.question
        margin: 30px 10px
        div.label
            text-align: center
            font-size: 18px
            font-weight: bold
            border-bottom: solid 1px #ccc
            padding: 10px
            img.star
                float: right
        ul.answers
            position: relative
            li.answer
                background: #f0f0f0
                text-align: center
                float: left
                width: 50%
                padding: 20px 0
                font-size: 14px
                font-weight: bold
        div.share
            a
                margin: 0 0 0 5px
                float: right
    li.question.key_0
        ul.answers
            li.answer
                padding: 80px 0
        div.infos
            font-style: italic


/////////////////////////
// QUESTION ARCHIVE
/////////////////////////

#morePolls
    text-align: center
    margin: 20px

#morePollsButton
    font-size: 16px

#questionArchiveList
    margin: 20px
    li.question
        border: solid 1px #ccc
        padding: 10px
        margin: 20px
        text-align: center
