*
    margin: 0
    padding: 0

body
    margin: 0
    padding: 0
    font-family: arial, sans-serif
    font-size: 12px
    color: #999

ul
    list-style: none

a,
span.link
    color: #ff99cc
    font-weight: bold
    text-decoration: none
    cursor: pointer
    img
        border: none

a:hover,
span.link:hover
    text-decoration: underline

div.clear
    clear: both

.hide
    display: none


/////////////////////////
// MAIN
/////////////////////////

#main
    max-width: 1050px
    min-width: 800px
    margin: 0 auto
    background: #fff
    position: relative


/////////////////////////
// HEADER
/////////////////////////

#header
    padding: 10px
    font-size: 32px
    p
        font-style: italic
        font-size: 12px
        margin: 0 0 0 20px


/////////////////////////
// USER BOX
/////////////////////////

#userBox
    position: absolute
    top: 0
    right: 10px
    padding: 10px
    border: solid 1px #ccc
    border-width: 0 1px 1px 1px
    background: #f0f0f0
    font-size: 16px


/////////////////////////
// QUESTION
/////////////////////////

#questions
    text-align: center
    dl.question
        margin: 10px
        padding: 5px
        border: solid 1px #f0f0f0
        div.content
            margin: 10px 0 0 0
            height: 60px
            li.answer
                width: 20%
                margin: 0 15%
                float: left
        div.friends
            clear: both


/////////////////////////
// QUESTION
/////////////////////////

#questionResults
    margin: -110px 0 0 0
    width: 100%
    position: absolute
    ul.menu
        margin: 10px auto
        width: 258px
        height: 20px
        li
            border: solid 1px #ccc
            float: left
            width: 80px
            margin: 0 2px
            text-align: center
            cursor: pointer
    div.tab
        text-align: center
        clear: both
        margin: 10px 0 0 0


/////////////////////////
// QUESTION ARCHIVE
/////////////////////////

#morePolls
    text-align: center
    margin: 20px

#morePollsButton
    font-size: 16px

#questionArchiveList
    margin: 20px
    li.question
        margin: 20px 0
        width: 50%
        float: left
        text-align: center
        div.graph
            margin: 10px 0 0 0
        ul.answers
            margin: -75px 0 0 0
            height: 75px
            li.answer
                width: 50%
                float: left
                font-size: 18px
            li.answer.key0
                color: fuchsia
            li.answer.key1
                color: CornflowerBlue


/////////////////////////
// QUESTION
/////////////////////////

#question
    text-align: center
    margin: 20px 20px 5px 20px

#questionInfo
    text-align: center
    font-style: italic

#map
    text-align: center
    width: 545px
    height: 540px
    margin: auto

/////////////////////////
// RESULT
/////////////////////////

#result
    margin: 20px
    text-align: center
    margin: 10px 0 0 0
    height: 115px
    display: block
    width: 100%
    li.answer
        width: 20%
        float: left
        div.label
            font-size: 38px
        ul
            li.user
                margin: 10px
    li.answer.key0
        margin-right: 30%
        color: fuchsia
    li.answer.key1
        margin-left: 30%
        color: CornflowerBlue

#questionResults
    div.graph
        text-align: center
        margin: 20px
    div.title
        font-weight: bold
        font-size: 16px
        margin: 10px 0
    div.label
        font-weight: bold
        font-size: 14px
        margin: 10px 0
    div.sexRepartition
        width: 400px
        height: 25px
        margin: 10px auto 30px auto
        div
            float: left
            height: 25px
            padding: 5px 0 0 0
            color: #fff
            font-weight: bold
        div.progress1
            background: CornflowerBlue
        div.progress2
            background: fuchsia


/////////////////////////
// USER
/////////////////////////

li.user
    padding: 2px 10px
    display: inline-block
    span
        display: block

li.user.vote
    border: solid 1px #ccc

li.user.guess
    border: dashed 1px #ccc

#userFeeling
    width: 300px

/////////////////////////
// SHARE
/////////////////////////

#share
    text-align: right
    margin: 10px

