#footerContainer
    background: $light_grey

#footer
    padding-top: 10px
    padding-bottom: 20px

    ul
        padding: 1em 0 10px 0
        border-top: $black 1px solid

        li
            display: inline
            margin: 0 20px 0 0
            font-size: $font_small

            a
                color: $black

    p
        color: $black
        font-size: $font_small

