#footerContainer
    background: $blue
    border-top: solid 1px $light_grey

#footer
    padding-top: 10px
    padding-bottom: 20px

    ul
        margin: 0 0 10px 0
        padding: 0 0 10px 0
        border-bottom: $grey 1px solid

        li
            display: inline
            margin: 0 20px 0 0
            font-size: $font_small

            a
                color: $white

    p
        color: $white
        font-size: $font_small

