#login,
#register
    width: 540px

    h4
        padding: 0 0 10px 0

    p
        margin: 0 0 20px 0
        font-size: $font_small
        line-height: 16px

    .side1
        display: inline-block
        width: 200px
        padding: 10px 30px 20px 20px
        border-right: solid 1px #ccc

    .side2
        display: inline-block
        width: 240px
        padding: 10px 0 20px 30px
        vertical-align: top

