#topContainer
    +linear-gradient(color-stops(#B3DBEF 0px, $blue 95px))

#top
    padding: 10px 0
    position: relative

#top
    .baseLine
        font-weight: bold
        font-size: $font_small
        margin: 10px 0 20px 0
        +text-shadow($very_light_grey)

        a
            color: $black

#top
    .logo
        display: block
        width: 210px
        height: 71px
        text-indent: -9999em
        background: image-url('logo_opipop.png')

#top
    .userBox
        color: $grey
        float: right
        height: 50px
        padding: 4px

        .avatar, .info
            display: inline-block
            vertical-align: middle
            white-space: nowrap
            
        .avatar
            margin: 0 8px 0 0

        .info
            .name
                font-size: $font_huge
                font-weight: bold

            .linkList
                font-size: $font_small
                margin: 8px 0 0 0

                span
                    margin: 0 0px
                    color: $light_grey

#top
    .login
        float: right
        margin: 20px 0 0 0
        font-size: $font_big

#top
    .message
        padding: 8px
        margin: 10px 0 0 0
        +border-radius($border_radius)
        color: $grey
        font-size: $font_medium
        text-align: center

    .feedback
        border: solid $border_size $green
        background: $light_green

    .warning
        border: solid $border_size $yellow
        background: $light_yellow

