#top
    margin: 10px 0
    position: relative

#top
    .baseLine
        font-weight: bold
        font-size: $font_small
        margin: 10px 0 20px 0
        +text-shadow($light_grey)

#top
    .logo
        display: block
        width: 186px
        height: 36px
        text-indent: -9999em
        background: image-url("logo.png")

#top
    .userBox
        color: $grey
        border: solid $border_size $light_grey
        background: $very_light_grey
        +border-radius($border_radius)
        +box-shadow($light_grey, -1px, 1px, 4px)
        float: right
        height: 50px
        padding: 4px

        .avatar
            float: left
            margin: 0 8px 0 0

        .info
            float: left

            .login
                font-size: $font_huge
                font-weight: bold

            .linkList
                font-size: $font_small
                margin: 8px 0 0 0

                span
                    margin: 0 4px

#top
    .message
        padding: 8px
        margin: 10px 0 0 0
        +border-radius($border_radius)
        color: $grey
        font-size: $font_medium
        text-align: center

    .feedback
        border: solid $border_size $green
        background: $light_green

    .warning
        border: solid $border_size $yellow
        background: $light_yellow

