#userContainer
    padding: 0 0 20px

#user_colLeft
    margin: 0 350px 0 0

#user_colRight
    float: right
    width: 320px
    padding: 0 0 0 20px

#user_statistiques
    padding: 10px

#user_feelings
    border: solid 1px $very_light_grey
    background: $white
    margin: 0 0 20px 0

#friend_header
    height: 60px

    h4
        float: left

#user_search
    float: left
    margin: 20px 0 0 20px
    position: relative

    .overlay
        font-size: $font_small
        font-weight: bold
        color: $grey
        position: absolute
        top: 6px
        left: 7px

    input
        display: inline

#user_search_result
    li
        padding: 5px 2px 5px 5px
        margin: 0 0 10px 0
        height: 24px
        position: relative

        .avatar
            float: left
            margin: 0 10px 0 0

        .login
            float: left
            font-size: $font_medium
            margin: 4px 0 0 0
            +text-shadow($light_grey)

        .edit
            height: 24px
            float: right

            li
                float: right
                margin: 2px 5px 0 0

        .message
            color: $grey
            font-size: $font_small

#user_edit
    width: 620px

    .side1
        display: inline-block
        width: 300px
        padding: 10px 0 20px 20px
        border-right: solid 1px #ccc

    .side2
        display: inline-block
        width: 250px
        padding: 10px 0 20px 30px
        vertical-align: top

    h4
        padding: 0 0 10px 0

#user_distance
    .country,
    .friend
        position: relative
        border: solid 1px $very_light_grey
        padding: 10px
        height: 64px

        .distance
            text-align: center
            font-size: $font_big

        .user
            position: absolute
            top: 15px
            right: 35px

    .country
        background: $white image-url('distance_country.png') no-repeat center center
        margin: 10px 0 20px 0
    .friend
        background: $white image-url('distance_friend.png') no-repeat center center
        margin: 10px 0 0 0

#user_proximity
    margin: 0 0 10px 0
    padding: 10px 10px 20px 10px
    position: relative

    .user
        position: absolute
        top: 22px
        right: 12px

    .background
        background: image-url('proximity_background.png') repeat-x bottom left
        margin: 0 30px 0 0

    .content
        position: relative
        margin: 0 50px 0 0
        height: 42px

        .avatar
            border: solid 1px $light_grey
            padding: 2px
            background: $white
            position: absolute

        .percent
            position: absolute
            top: 38px
            font-size: $font_medium
            color: $grey

#user_card
    margin: 20px 0 10px 0
    padding: 10px
    position: relative

    .menu
        position: absolute
        right: 10px
        bottom: 10px

        li
            display: inline
            margin: 0 0 0 5px

            a
                display: block
                font-size: $font_small

    .avatar
        float: left
        margin: 0 10px 0 0

    h1
        font-size: $font_huge
        color: $black
        +text-shadow($light_grey)

    .info
        margin: 5px 0 20px 0
        font-size: $font_small
        color: $grey

    .stat
        margin: 5px 0
        font-size: $font_medium
        color: $grey

        strong
            font-weight: bold

#user_friends
    margin: 20px 0 0

    li.noFriends
        font-size: $font_medium

    li
        padding: 7px 10px
        height: 50px
        position: relative
        border-top: 1px solid $light_grey

        .avatar
            float: left
            margin: 0 10px 0 0

        .login
            float: left
            font-size: $font_medium
            +text-shadow($light_grey)

        .stat
            position: absolute
            left: 63px
            top: 25px
            font-size: $font_small
            color: $grey

            li
                border: none

            strong
                font-weight: bold

        .edit
            display: none
            _display: inline
            height: 50px
            float: right

            li
                border: none
                float: right
                margin: 8px 0 0 0
                padding: 7px 5px
                height: auto

    li:first-child
        border: none

    li:hover
        .edit
            display: block

#user_card,
#user_friends
    .loading
        margin: 8px 10px 0 0
        width: 32px
        height: 32px
        float: right
        background: image-url('icon32x32/ajax-loader.gif') no-repeat
