#user_info
    margin: 20px 0

#user_feelings
    margin: 0 10px 0 0
    padding: 15px 20px
    float: right

    h5
        font-size: $font_big
        color: $dark_grey
        margin: 0 0 20px 0

#user_card
    margin: 10px 0 20px 0
    float: left
    border: solid $border_size_big $light_grey
    background: $white
    +border-radius($border_radius_big)
    +transform(1, -3deg, -12px, -10px, 0deg, 0deg)
    +box-shadow($grey, 1px, 1px, 4px)

    .top
        padding: 0 20px 0 0
        background: $very_light_blue
        border-bottom: solid 1px $grey

        .avatar
            margin: 0 0 0 0
            border: none
            float: left

        .info
            float: left

            h1
                font-size: $font_very_huge
                color: $black
                +text-shadow($grey)
                margin: 5px 0 0px 15px

            .col_right
                float: right

            .col_left
                float: left
                margin: 0 35px 0 0

            ul
                margin: 0 0 10px 5px

                li
                    color: $pink
                    font-weight: bold
                    font-size: $font_medium
                    margin: 5px 0 0 10px

                    span
                        font-weight: normal
                        color: $blue
                        font-size: $font_medium

    .distance
        clear: both
        margin: 0 10px
        padding: 10px

        .content
            position: relative
            height: 70px

            .user
                position: absolute
                left: 50%
                top: 15px
                margin-left: -24px

            .icon_country
                position: absolute
                left: 0
                top: 0

            .icon_friend
                position: absolute
                right: 0
                top: 0

            .distance_global
                position: absolute
                right: 75%
                top: 20px
                margin-right: -62px

            .distance_friend
                position: absolute
                left: 75%
                top: 20px
                margin-left: -62px

            .value
                height: 40px
                width: 66px
                text-align: center
                background: image-url('distance_arrow.png') no-repeat center bottom
                font-size: $font_big
                font_weight: bold
                color: $dark_grey

#user_proximity
    h5
        font-size: $font_big
        color: $dark_grey
        margin: 0 0 20px 20px

    .content
        position: relative
        height: 75px
        margin: 10px 30px

        .rule
            +linear-gradient(color-stops($pink 20%, $blue 60%), left)
            +border-radius($border_radius_big)
            height: 10px
            width: 100%
            top: 40px
            position: absolute

        .avatar
            padding: 1px
            position: absolute
            margin-left: -14px
            top: 0

            img
                +border-radius($border_radius)
                border: solid 4px $light_grey

            span
                border-top: 6px solid $light_grey
                border-left: 6px solid $white
                border-right: 6px solid $white
                height: 0
                width: 0
                display: block
                margin: 0 0 0 10px

        .percent
            position: absolute
            top: 60px
            font-size: $font_medium
            font-weight: bold
            color: $grey
            width: 50px
            text-align: center

        .position0
            left: 0
            margin-left: -25px
            color: #E7579A
        .position25
            left: 25%
            margin-left: -25px
            color: #FF4DAD
        .position50
            left: 50%
            margin-left: -25px
            color: #C948BC
        .position75
            right: 25%
            margin-right: -25px
            color: #566EB3
        .position100
            right: 0
            margin-right: -25px
            color: #42ABE1
#friend h4
    display: inline-block
#user_search
    display: inline-block
    position: relative

    .overlay
        font-size: $font_small
        font-weight: bold
        color: $grey
        position: absolute
        top: 6px
        left: 7px

    input
        display: inline


#user_search_result
    li
        padding: 5px 2px 5px 5px
        height: 24px
        position: relative

        .avatar
            float: left
            margin: 0 10px 0 0

        .login
            float: left
            font-size: $font_medium
            margin: 4px 0 0 0
            +text-shadow($light_grey)

        .edit
            height: 24px
            float: right

            li
                float: right
                margin: 2px 5px 0 0

        .message
            color: $grey
            font-size: $font_small

#user_edit
    width: 620px

    .side1
        display: inline-block
        width: 300px
        padding: 10px 0 20px 20px
        border-right: solid 1px #ccc

    .side2
        display: inline-block
        width: 250px
        padding: 10px 0 20px 30px
        vertical-align: top

    h4
        padding: 0 0 20px 0

#user_friends
    margin: 10px 0 0

    li.noFriends
        font-size: $font_medium

    li.friend
        padding: 7px 10px
        height: 50px
        position: relative
        border-top: 1px solid $light_grey

        .avatar
            float: left
            margin: 0 10px 0 0

        .login
            float: left
            font-size: $font_medium
            +text-shadow($light_grey)

        .notice
            position: absolute
            left: 70px
            top: 35px
            font-size: $font_medium
            color: $pink

        .stat
            position: absolute
            left: 70px
            top: 35px
            font-size: $font_small
            color: $grey

            strong
                font-weight: bold

        .edit
            display: none
            _display: inline
            height: 50px
            float: right

            li
                border: none
                float: right
                margin: 8px 0 0 0
                padding: 7px 5px
                height: auto

    li:first-child
        border: none

    li:hover
        .edit
            display: block

    .loading
        margin: 8px 10px 0 0
        width: 32px
        height: 32px
        float: right
        background: image-url('icon32x32/ajax-loader.gif') no-repeat

