SetEnv magic_quotes_gpc 1
SetEnv magic_quotes_runtime 0
SetEnv magic_quotes_sybase 0
SetEnv REGISTER_GLOBALS 0

#AddHandler php5-script .php

RewriteEngine on

#RewriteCond %{HTTP_HOST} ^.*aaaaaaaaaaa\.org [NC]
#RewriteCond %{HTTP_HOST} !^www\.aaaaaaaaaaa.org [NC]
#RewriteRule ^(.*)  http://www.aaaaaaaaaaa.org/$1 [L,R]

# LOGIN
RewriteRule ^login$ index.php?page=login [L]
RewriteRule ^login/confirm$ index.php?page=login_confirm [L,QSA]

# POLL
RewriteRule ^poll/[a-zA-Z0-9_-]*-([0-9]+)$ index.php?page=poll&id=$1 [L]

# CATEGORY
RewriteRule ^([a-zA-Z0-9_-]*)-([0-9]+)/*([0-9]*)$ index.php?page=poll_list&guid=$1&id=$2&p=$3 [L]
RewriteRule ^([a-zA-Z0-9_-]*)-([0-9]+)/archives/*([0-9]*)$ index.php?page=poll_list&guid=$1&id=$2&p=$3&archive=1 [L]

# USER
RewriteRule ^([a-zA-Z0-9_]+)$ index.php?page=user&login=$1 [L]
RewriteRule ^([a-zA-Z0-9_]+)/edit$ index.php?page=user_edit&login=$1 [L]

