$pink: #ff0066
$blue: #0099ff
$green: #99ff99
$yellow: #ffff99
$grey: #aaa
$black: #555

$light_grey: #f0f0f0
$light_green: #ccffcc
$light_yellow: #ffffcc

$very_light_grey: #f9f9f9

$font_small: 1.2em
$font_medium: 1.4em
$font_big: 1.8em
$font_huge: 2.4em

$border_size: 2px

@import compass/css3
@import compass/reset
@import compass/utilities/general

@import top
@import view/top

#main
    max-width: 1050px
    min-width: 800px
    margin: 0 auto
    position: relative
    font-family: tahoma, Arial, sans-serif
    font-size: 10px


///////////////////
//  A
///////////////////

a,
a *
    color: $grey
    text-decoration: none
    img
        border: none

a:hover,
a:hover *
    text-decoration: underline

