$power_blue: #0066DF

$dark_grey: #AAA

$pink: #ff0099
$blue: #6699CC
$red: #ff9999
$green: #99ff99
$yellow: #ffff99
$grey: #CCC
$black: #555
$white: #fff

$light_pink: #ff99cc
$light_blue: #99ccff
$light_grey: #EEE
$light_red: #ffcccc
$light_green: #ccffcc
$light_yellow: #ffffcc

$very_light_pink: #ffccff
$very_light_blue: #EBF8FF
$very_light_grey: #F9F9F9
$very_light_green: #f0fff0
$very_light_yellow: #fffff0
$very_light_red: #fff0f0

$font_small: 12px
$font_medium: 14px
$font_big: 18px
$font_huge: 24px
$font_very_huge: 32px

$border_size: 2px
$border_size_small: 1px
$border_size_big: 10px

$border_radius: 3px
$border_radius_big: 10px

@import compass/css3
@import compass/reset
@import compass/utilities/general

@import top
@import view/top
@import view/login
@import view/footer
@import view/question/active
@import view/question/archive
@import view/question/gender
@import view/question/map
@import view/user
@import view/info


#mainContent
    position: relative
    border-bottom: solid 1px $dark_grey

.horizontalCenter
    max-width: 1050px
    min-width: 880px
    margin: 0 auto
    padding: 0 20px 20px 20px

div.modal
    background: $white
    position: relative
    margin: 0 auto
    padding: 10px
    +border-radius($border_radius)


///////////////////
//  BODY
///////////////////

body
    background: $blue
    font-family: tahoma, Arial, sans-serif
    font-size: 10px
    color: $black


///////////////////
//  A
///////////////////

a,
a *
    color: $power_blue
    text-decoration: none
    img
        border: none

a:hover,
a:hover *
    text-decoration: underline

a:active,
a:active *
    color: $black

///////////////////
//  H4
///////////////////

h4
    font-size: $font_big
    font-weight: bold
    color: $black
    padding: 20px 0 0 0
    margin: 0 0 10px 0
    +text-shadow($grey)


///////////////////
//  H5
///////////////////

h5
    font-size: $font_small
    color: $grey
    margin: 0 0 10px 0
    +text-shadow($light_grey)


///////////////////
//  HR
///////////////////

hr
    height: 1px
    background: $light_grey
    border: none
    margin: 20px 0


///////////////////
//  FORM
///////////////////

form

    span
        color: $red
        font-size: $font_small
        font-weight: normal
        margin: 0 0 0 5px
        font-style: italic

    fieldset
        clear: both
    label
        display: block
        margin: 0 0 15px 0
        em
            font-size: $font_medium
            display: block
            padding: 0 0 4px 0

    select,
    input[type=file],
    input[type=text],
    input[type=password]
        display: block
        padding: 4px
        width: 180px
        border: 1px solid $grey
        font-size: $font_small
        font-weight: bold
        color: $pink
        +border-radius()

    input[type=text]:focus,
    input[type=password]:focus
        border-color: $pink

    p
        color: $grey
        font-size: $font_small
        margin: 0 0 15px 0

///////////////////
//  COMMON
///////////////////

.firstBackground
    background: #ffffff image-url('background_texture.gif')

.secondBackground
    background: #EEE image-url('background_texture.png')
    +linear-gradient(color-stops($grey, $light_grey 1%, $light_grey), top, image-url('background_texture.png'))

.icon
    display: inline-block
    background-repeat: no-repeat
    background-color: transparent
    overflow: hidden
    text-indent: -999em
    margin: 0 3px

// 48x48 icon
.iconGender,
.iconMap
    width: 48px
    height: 48px
    background-image: image-url('icon48x48/imageMap48x48.png')
    vertical-align: middle !important

.iconGender
    background-position: 0 0

a:hover
    .iconGender,
    .iconGender:hover
        background-position: -48px 0

a:active
    .iconGender,
    .iconGender:active
        background-position: -96px 0

.iconMap
    background-position: 0 -48px

a:hover
    .iconMap,
    .iconMap:hover
        background-position: -48px -48px

a:active
    .iconMap,
    .iconMap:active
        background-position: -96px -48px

// 16x16 icon

// 48x48 icon
.iconAdd,
.iconRemove,
.iconInfo
    width: 16px
    height: 16px
    background-image: image-url('icon16x16/imageMap16x16.png')
    vertical-align: middle

.iconAdd
    background-position: 0 0
    vertical-align: text-bottom

a:hover
    .iconAdd,
    .iconAdd:hover
        background-position: -16px 0

a:active
    .iconAdd,
    .iconAdd:active
        background-position: -32px 0

.iconRemove
    background-position: 0 -16px
    vertical-align: text-bottom

a:hover
    .iconRemove,
    .iconRemove:hover
        background-position: -16px -16px

a:active
    .iconRemove,
    .iconRemove:active
        background-position: -32px -16px

.iconInfo
    background-position: 0 -32px

    a:hover
        .iconInfo,
        .iconInfo:hover
            background-position: -16px -32px

    a:active
        .iconInfo,
        .iconInfo:active
            background-position: -32px -32px
///////////////////
//  UTILS
///////////////////

.clear
    clear: both
    height: 0

.clear_left
    clear: left

.clear_right
    clear: right
// Box
.box
    border: solid $border_size $light_grey
    +linear-gradient(color-stops($white 50%, $very_light_grey))
    +border-radius($border_radius)
// Button
.button
    background: $white
    padding: 5px 10px
    border: solid $border_size_small $grey
    outline: none !important
    font-weight: bold
    cursor: pointer
    color: $power_blue
    +linear-gradient(color-stops($white, $light_grey))
    +border-radius($border_radius)
    +box-shadow($light_grey, -1px, 1px, 1px)

.button:hover
    text-decoration: none
    border-color: $pink
    color: $pink
    +box-shadow($grey, -1px, 1px, 1px)

.button:active
    border-color: $dark_grey
    color: $black
    +box-shadow(none)
    +apply-transform(translate(0, 1px))


.button.disable,
.button.disable:hover
    border-color: $grey
    opacity: 0.5
    color: $grey
    +box-shadow($light_grey, -1px, 1px, 1px)

.info_bulle:hover
    text-decoration: none

///////////////////
//  NYROMODAL
///////////////////

#nyroModalTitle
    display: none

#nyroModalLoading,
#nyroModalWrapper
    //+box-shadow(#999999, 5px, 5px, 15px)
    +border-radius(8px)
    border: solid $light_grey $border_size
    width: 150px
    height: 150px
    background: #fff
    padding: 30px 10px 20px 10px

    .nyroModalClose
        background: image-url("icon32x32/close_button.png")
        width: 32px
        height: 32px
        position: absolute
        top: 5px
        right: 5px
        display: block
        content: ""
        z-index: 10

    .nyroModalClose:hover
        background: image-url("icon32x32/close_button-hover.png")
