/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@font-face {
  font-family: "typoQuestion";
  src: local("typoQuestion"), url('../../../media/layout/fonts/Folks-Bold.ttf') format('truetype');
}

/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 13, ../src/main.sass */
html {
  min-height: 100%;
}

/* line 15, ../src/main.sass */
body {
  padding: 0 20px;
  font-family: tahoma, Arial, sans-serif;
  font-size: 12px;
  color: #999999;
  min-height: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6699cc), color-stop(25%, #c2e4f6), color-stop(100%, #dbecf5));
  background-image: -moz-linear-gradient(top, #6699cc 0%, #c2e4f6 200px, #dbecf5 800px);
}

/* line 23, ../src/main.sass */
ul {
  list-style: none;
}

/* line 30, ../src/main.sass */
#footer a {
  font-weight: normal;
}

/* line 33, ../src/main.sass */
label em {
  font-weight: bold;
  font-style: normal;
}

/* line 37, ../src/main.sass */
.bouton {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 41, ../src/main.sass */
#questionArchiveList h3 a,
#questionArchiveList .answer {
  font-size: 1.4em;
}

/* line 45, ../src/main.sass */
#questions .userVote strong,
#questions .userGuess strong {
  font-size: 1.8em;
}

/* line 49, ../src/main.sass */
.frame h2 {
  font-size: 2.2em;
  font-weight: bold;
}

/* line 56, ../src/main.sass */
h1,
#questions .questionChoice {
  font-size: 2.4em;
}

/* line 65, ../src/main.sass */
a,
a * {
  text-decoration: none;
}
/* line 68, ../src/main.sass */
a img,
a * img {
  border: none;
}

/* line 71, ../src/main.sass */
a:hover {
  text-decoration: underline;
}

/* line 74, ../src/main.sass */
h4 {
  font-size: 1.8em;
  border-bottom: solid 1px #999999;
  color: #999999;
  margin: 20px 0 10px 0;
  text-shadow: white 1px 1px 1px;
}

/* line 81, ../src/main.sass */
div.clear {
  clear: both;
}

/* line 84, ../src/main.sass */
.hide {
  display: none;
}

/* ___________________ Lighbox */
/* line 91, ../src/main.sass */
.modal {
  background: white;
  padding: 2em;
  border: solid 5px #eeeeee;
  -moz-box-shadow: #999999 5px 5px 15px;
  -webkit-box-shadow: #999999 5px 5px 15px;
  -o-box-shadow: #999999 5px 5px 15px;
  box-shadow: #999999 5px 5px 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

/* line 98, ../src/main.sass */
#nyroModalLoading {
  -moz-box-shadow: #999999 5px 5px 15px;
  -webkit-box-shadow: #999999 5px 5px 15px;
  -o-box-shadow: #999999 5px 5px 15px;
  box-shadow: #999999 5px 5px 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  background: white;
}

/* line 106, ../src/main.sass */
#nyroModalWrapper .nyroModalClose {
  background: url(../media/layout/close_button.png);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  content: "";
}
/* line 115, ../src/main.sass */
#nyroModalWrapper .nyroModalClose:hover {
  background: url(../media/layout/close_button-hover.png);
}

/* ___________________ Buttons */
/* line 120, ../src/main.sass */
.button,
input[type=submit] {
  color: #666666;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #aaaaaa;
  font-weight: bold;
  text-shadow: white 1px 1px 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
}
/* line 122, ../src/main.sass */
.button a,
input[type=submit] a {
  color: #666666;
}
/* line 124, ../src/main.sass */
.button a:hover,
input[type=submit] a:hover {
  text-decoration: none;
}

/* line 136, ../src/main.sass */
.button {
  padding: 0.5em 1em;
  font-size: 1.8em;
}

/* line 140, ../src/main.sass */
input[type=submit] {
  padding: 0.2em 0.5em;
  font-size: 1em;
}

/* line 144, ../src/main.sass */
.button:hover,
input[type=submit]:hover {
  color: #ff0066;
  border-color: #ff0066;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
}

/* line 151, ../src/main.sass */
.button:active,
input[type=submit]:active {
  color: black;
  border-color: black;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #ffffff 100%);
}

/* line 157, ../src/main.sass */
input[type=submit]:disabled {
  opacity: 0.3;
}

/* line 160, ../src/main.sass */
.menu {
  text-align: center;
}
/* line 162, ../src/main.sass */
.menu .button:first-child {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 164, ../src/main.sass */
.menu .button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
  z-index: 1;
  position: relative;
}
/* line 169, ../src/main.sass */
.menu .button:last-child {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 171, ../src/main.sass */
.menu .button:hover {
  z-index: 2;
}

/* ___________________ Frame */
/* line 178, ../src/main.sass */
.frame,
.question {
  padding: 1em;
  position: relative;
  border: solid 2px #f0f0f0;
  overflow: hidden;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: #6699cc 1px 1px 5px;
  -webkit-box-shadow: #6699cc 1px 1px 5px;
  -o-box-shadow: #6699cc 1px 1px 5px;
  box-shadow: #6699cc 1px 1px 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(50%, #ffffff), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #ffffff 50%, #ededed 100%);
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.frame,
.question {
  display: block;
}
/* line 188, ../src/main.sass */
.frame h2,
.question h2 {
  float: left;
  padding: 0 0 0.4em 0;
  text-shadow: white 1px 1px 1px;
}
/* line 193, ../src/main.sass */
.frame a,
.frame a *,
.frame span.link,
.frame span.link *,
.question a,
.question a *,
.question span.link,
.question span.link * {
  color: #6d6d6d;
}

/* ___________________ Forms */
/* line 204, ../src/main.sass */
form span {
  color: red;
  font-size: 0.7em;
  font-weight: normal;
  margin: 0 0 0 5px;
  font-style: italic;
}
/* line 211, ../src/main.sass */
form fieldset {
  clear: both;
}
/* line 213, ../src/main.sass */
form label {
  display: block;
  margin: 0 0 1.5em 0;
}
/* line 216, ../src/main.sass */
form label em {
  font-size: 1.4em;
  display: block;
  padding: 0 0 0.3em 0;
}
/* line 221, ../src/main.sass */
form input[type=text],
form input[type=password] {
  display: block;
  padding: 0.4em;
  width: 100%;
  border: 1px solid #999999;
  font-size: 1.2em;
  font-weight: bold;
  color: #ff0066;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 232, ../src/main.sass */
form input[type=text]:focus,
form input[type=password]:focus {
  border-color: #ff0066;
}

/* line 241, ../src/main.sass */
#main {
  max-width: 1050px;
  min-width: 920px;
  margin: 0 auto;
  position: relative;
}

/* line 251, ../src/main.sass */
#colRight {
  width: 65%;
  float: left;
}

/* line 255, ../src/main.sass */
#colLeft {
  float: left;
  margin: 0 0 0 20px;
}

/* line 264, ../src/main.sass */
#header {
  padding: 10px 0;
  position: relative;
}
/* line 268, ../src/main.sass */
#header .baseLine {
  color: white;
  font-weight: bold;
  text-shadow: #aaaaaa 1px 1px 1px;
}

/* line 273, ../src/main.sass */
#logo {
  display: block;
  width: 210px;
  height: 71px;
  text-align: left;
  text-indent: -9999em;
  background: url('../../media/layout/logoOpipop.png?1276636986');
}

/* ___________________ USER BOX */
/* line 285, ../src/main.sass */
#userBox a.avatar {
  margin: 0 8px 0 0;
  float: left;
}
/* line 289, ../src/main.sass */
#userBox div.info {
  float: left;
}
/* line 292, ../src/main.sass */
#userBox a.login {
  font-size: 2em;
  display: block;
}
/* line 296, ../src/main.sass */
#userBox p.linkList {
  margin: 12px 0 0 0;
}
/* line 298, ../src/main.sass */
#userBox p.linkList span {
  margin: 0 5px;
}

/* line 301, ../src/main.sass */
#userBox,
#login_link {
  position: absolute;
  top: 1em;
  right: 0;
  z-index: 2;
}

/* line 308, ../src/main.sass */
#login,
#register {
  width: 48em;
}
/* line 312, ../src/main.sass */
#login p,
#register p {
  margin: 0 0 2em 0;
  font-size: 1.2em;
  line-height: 1.6em;
}
/* line 317, ../src/main.sass */
#login .side1,
#register .side1 {
  display: inline-block;
  width: 20em;
  padding: 0 1em 0 0;
  border-right: solid 1px #cccccc;
}
/* line 324, ../src/main.sass */
#login .side1 form input[type=text],
#login .side1 form input[type=password],
#register .side1 form input[type=text],
#register .side1 form input[type=password] {
  width: 15em;
}
/* line 328, ../src/main.sass */
#login .side2,
#register .side2 {
  display: inline-block;
  width: 24em;
  padding: 0 0 0 1em;
  vertical-align: top;
}

/* line 339, ../src/main.sass */
#footer {
  clear: both;
  margin: 40px 0 20px 0;
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0px 1px 2px #46829c;
  -webkit-box-shadow: inset 0px 1px 2px #46829c;
  box-shadow: inset 0px 1px 2px #46829c;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #60b3d7), color-stop(100%, #56a0c0));
  background-image: -moz-linear-gradient(top, #60b3d7 0%, #56a0c0 100%);
  color: white;
}
/* line 350, ../src/main.sass */
#footer ul {
  float: right;
}
/* line 352, ../src/main.sass */
#footer li {
  display: inline-block;
}
/* line 354, ../src/main.sass */
#footer li:not(:first-child)::before {
  content: " - ";
}
/* line 356, ../src/main.sass */
#footer a {
  color: white;
}

/* line 366, ../src/main.sass */
#questions .frame {
  margin: 25px 0 0 0;
}
/* line 369, ../src/main.sass */
#questions .share {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* line 374, ../src/main.sass */
#questions .share a {
  margin: 0 0 0 5px;
}
/* line 377, ../src/main.sass */
#questions .share span,
#questions .share img {
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 382, ../src/main.sass */
#questions .questionContent {
  position: relative;
  clear: both;
}
/* line 386, ../src/main.sass */
#questions .questionContent dt {
  background: rgba(0, 0, 0, 0.1);
  width: 315px;
  height: 145px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 393, ../src/main.sass */
#questions .questionContent dd {
  padding: 5px 5px 5px 330px;
  height: 135px;
}
/* line 396, ../src/main.sass */
#questions .questionContent p {
  font-weight: normal;
  letter-spacing: 0.05em;
}
/* line 400, ../src/main.sass */
#questions .questionContent .loading {
  background: url('../../media/layout/ajaxLoader.gif?1277745101') 350px center no-repeat;
}
/* line 403, ../src/main.sass */
#questions .questionContent .questionLabel {
  margin: 5px 0 0 0;
  font-size: 1.2em;
}
/* line 407, ../src/main.sass */
#questions .questionContent .questionChoice {
  margin: 10px 0 0 0;
  padding: 4px 0 0 55px;
  height: 34px;
  display: inline;
  float: left;
  clear: left;
  cursor: pointer;
  background-image: url('../../media/layout/check.png?1277145249');
  background-position: left top;
  background-repeat: no-repeat;
  text-shadow: white 1px 1px 1px;
}
/* line 419, ../src/main.sass */
#questions .questionContent .questionChoice:hover {
  background-image: url('../../media/layout/check-hover.png?1277145249');
}
/* line 422, ../src/main.sass */
#questions .questionContent .questionChoice:hover {
  color: #ff0066;
  text-decoration: none;
}
/* line 425, ../src/main.sass */
#questions .questionContent .questionChoice:active {
  color: black;
}
/* line 428, ../src/main.sass */
#questions .questionContent .userVote {
  margin: 10px 0 0 0px;
}
/* line 430, ../src/main.sass */
#questions .questionContent .userGuess {
  margin: 20px 0 0 0px;
}
/* line 433, ../src/main.sass */
#questions .questionContent .userVote,
#questions .questionContent .userGuess {
  clear: both;
}
/* line 437, ../src/main.sass */
#questions .questionContent .userVote a,
#questions .questionContent .userVote img,
#questions .questionContent .userGuess a,
#questions .questionContent .userGuess img {
  margin: 0 5px 0 0;
  float: left;
}
/* line 442, ../src/main.sass */
#questions .questionContent .userVote span,
#questions .questionContent .userGuess span {
  font-size: 1.2em;
  display: block;
  margin: 0 0 5px 0;
}

/* ___________________ Archives */
/* line 450, ../src/main.sass */
#morePolls {
  text-align: center;
  margin: 20px 0 0 0;
}

/* line 454, ../src/main.sass */
#questionArchiveContainer {
  margin: 30px 0 0 0;
}
/* line 457, ../src/main.sass */
#questionArchiveContainer li {
  width: 48%;
  padding: 0;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}
/* line 464, ../src/main.sass */
#questionArchiveContainer li .content {
  height: 60px;
  padding: 5px;
  overflow: hidden;
}
/* line 469, ../src/main.sass */
#questionArchiveContainer li .content h3 {
  padding: 0 80px 0 0;
  text-align: left;
  font-size: 1.4em;
}
/* line 473, ../src/main.sass */
#questionArchiveContainer li .content h3 a {
  color: #999999;
}
/* line 476, ../src/main.sass */
#questionArchiveContainer li .content .info {
  position: absolute;
  bottom: 5px;
}
/* line 480, ../src/main.sass */
#questionArchiveContainer li .content .graph {
  position: absolute;
  top: 5px;
  right: 10px;
}
/* line 485, ../src/main.sass */
#questionArchiveContainer li .content .answer {
  position: absolute;
  right: 80px;
}
/* line 489, ../src/main.sass */
#questionArchiveContainer li .content .key0 {
  color: #ff0066;
  top: 30px;
}
/* line 493, ../src/main.sass */
#questionArchiveContainer li .content .key1 {
  color: #0099ff;
  top: 48px;
}
/* line 497, ../src/main.sass */
#questionArchiveContainer li:nth-child(odd) {
  margin-right: 1%;
}
/* line 500, ../src/main.sass */
#questionArchiveContainer li:nth-child(even) {
  margin-left: 1%;
}

/* line 510, ../src/main.sass */
#question_gender .graph {
  float: left;
  margin: 0 20px;
}
/* line 514, ../src/main.sass */
#question_gender .graph p {
  margin: 0 0 10px 0;
  font-size: 1.4em;
  text-align: center;
}
/* line 519, ../src/main.sass */
#question_gender .graph li {
  margin: 10px 0 0 0;
  font-size: 1.4em;
}
/* line 522, ../src/main.sass */
#question_gender .graph li.key0 {
  color: #ff0066;
}
/* line 524, ../src/main.sass */
#question_gender .graph li.key1 {
  color: #0099ff;
}

/* line 527, ../src/main.sass */
#question {
  margin: 20px 0 0 0;
}
/* line 530, ../src/main.sass */
#question .info {
  font-style: italic;
  margin: 5px 0 0 0;
}
/* line 534, ../src/main.sass */
#question .details {
  position: absolute;
  right: 0;
  bottom: 5px;
}
/* line 539, ../src/main.sass */
#question .image {
  float: left;
  margin: 10px 10px 0 0;
}
/* line 543, ../src/main.sass */
#question .links {
  position: absolute;
  left: 330px;
  bottom: 5px;
}
/* line 547, ../src/main.sass */
#question .links div {
  margin: 10px 0 0 0;
}
/* line 549, ../src/main.sass */
#question .links div a {
  width: 175px;
  text-align: center;
}
/* line 553, ../src/main.sass */
#question .graph_global {
  margin: 10px 20px 0 20px;
  float: right;
}
/* line 557, ../src/main.sass */
#question .answers {
  float: right;
  text-align: right;
  margin: 10px 0 0 0;
}
/* line 561, ../src/main.sass */
#question .answers li {
  margin: 15px 0 0 0;
  font-size: 2em;
}
/* line 565, ../src/main.sass */
#question .answers li.key0 {
  color: #ff0066;
}
/* line 567, ../src/main.sass */
#question .answers li.key1 {
  color: #0099ff;
}

/* line 570, ../src/main.sass */
#map {
  text-align: center;
  width: 545px;
  height: 540px;
  margin: auto;
}

/* line 581, ../src/main.sass */
#user {
  margin: 20px 0 0 0;
  height: 200px;
}
/* line 584, ../src/main.sass */
#user .avatar {
  float: left;
  margin: 0 10px 0 0;
}
/* line 587, ../src/main.sass */
#user h1 {
  font-size: 2.4em;
  margin: 0 0 5px 0;
  color: #6d6d6d;
}
/* line 592, ../src/main.sass */
#user .info {
  font-size: 1.2em;
}
/* line 594, ../src/main.sass */
#user .info li {
  margin: 2px 0 0 0;
}
/* line 597, ../src/main.sass */
#user .distance_friend,
#user .distance_global {
  margin: 20px 0 0 0;
}
/* line 601, ../src/main.sass */
#user .distance_friend strong,
#user .distance_global strong {
  display: block;
  font-size: 2em;
  text-align: center;
  margin: 5px 0 0 0;
  color: #6d6d6d;
}

/* line 613, ../src/main.sass */
#friends li {
  margin: 5px 0 0 0;
}
/* line 615, ../src/main.sass */
#friends span {
  position: absolute;
  right: 2px;
  bottom: 2px;
  font-size: 1.2em;
}
