#question_archive
    margin: 20px 0

    .question
        color: $grey
        padding: 6px 6px 6px 8px
        margin: 0 0 20px 0
        height: 60px
        position: relative

        h2
            +text-shadow($light_grey)
            font-size: $font_big
            color: $black
            margin: 0 0 8px 0

        .graph
            float: left
            margin: 0 10px 0 0

        .answer
            font-size: $font_medium
            margin: 0 0 4px 0

        .key0
            color: $pink

        .key1
            color: $blue

        .info
            position: absolute
            right: 10px
            bottom: 5px

#question_archive_navigation
    margin: 0 0 20px 0

    .button
        margin: 0 5px 0 0


