#question_archive
    margin: 20px 0

    .question
        color: $grey
        padding: 6px 6px 6px 8px
        margin: 0 0 15px 0
        height: 75px
        position: relative
        border-top: 1px solid $light_grey

        h2
            +text-shadow($light_grey)
            font-size: $font_big
            color: $black
            margin: 0 0 8px 0

        .graph
            float: left
            margin: 0 10px 0 0

        .answer
            font-size: $font_medium
            margin: 0 0 4px 0

        .key0
            color: $pink

        .key1
            color: $blue

        //.info
            //position: absolute
            //top: 55px
            //left: 0
            //right: 0
            //text-align: center
            //font-size: $font_small
            //color: $grey

        .link
            float: right
            padding: 18px 8px 0 48px
            margin: 12px 0 0 10px
            height: 30px
            position: relative
            background: center left no-repeat
            font-size: $font_small

        .gender
            background-image: image-url('icon48x48/users_mixed_gender-inactive.png')
        .gender:hover
            background-image: image-url('icon48x48/users_mixed_gender.png')

        .map
            background-image: image-url('icon48x48/map_mini-inactive.png')
        .map:hover
            background-image: image-url('icon48x48/map_mini.png')
            
    .question:first-child
        border: none

#question_archive_navigation
    height: 40px
    padding: 10px 0 0 0

    .button
        margin: 0 5px 0 0


