#question_map
    text-align: center
    width: 545px
    margin: auto

    h2
        +text-shadow($light_grey)
        font-size: $font_big
        color: $grey
        text-align: center
        margin: 0 30px 20px 30px

#question_map_graph
    width: 545px
    height: 540px

